* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
h2,
h3,
h4 {
	font-family: Roboto, helvetica, sans-serif;
	margin: 0;
	padding: 0.5rem;
	font-size: larger;
	font-weight: 700;
}

section {
	margin: 1rem 0;
	border: 1px solid rgb(0 0 0 / 0.1);
	padding: 0.5rem;
	width: 760px;
	background-color: #eee;
}

p,
input,
label {
	margin: 0.25rem;
	padding: 0.5rem;
}
/* Cambia el color de fondo y el color del texto cuando el usuario selecciona un texto dentro del elemento */

.sel::selection {
	background-color: #000;
	color: yellow;
}
/* Aplica estilos solo a la primera línea del párrafo */

.firstline::first-line {
	color: tomato;
}
/* Aplica estilos solo a la primera letra del párrafo */

.firstletter::first-letter {
	color: navy;
	font-size: 2rem;
}
/* Agrega un emoji 🎈 antes del contenido del elemento */

.before::before {
	content: "🎈 ";
}
/* Agrega un emoji 🌮 después del contenido del elemento */

.after::after {
	content: " 🌮";
}

ol {
	list-style: numeric;
	margin-left: 3rem;
}
/* Cambia el marcador (bullet) de la lista ordenada por un icono ✓ de color dorado */

ol li::marker {
  content: "✓ ";
  color: goldenrod;
  font-size: 2rem;

}
/* Incrementa un contador personalizado para cada elemento con la clase .counter */

.counter {
	counter-increment: paras;
}
/* Muestra el valor del contador personalizado antes del contenido del elemento */

.counter::before {
	content: "🔸" counter(paras) ":";
}

.counter {
	font-family: courier;
}
/* Agrega un icono de llave 🗝️ antes del contenido de los elementos con la clase .mark-complete */

.mark-complete::before {
	content: "🗝️ ";
}
